

<marquee scrollamount="10">Welcom to VideoEzy</marquee>
<div class="row">
      <div class="col-md-4">
          <img src="assets/car2.jpg" alt="">
      </div>
      <div class="col-md-4">
          <img src="assets/life.jpg" alt="">
      </div>
      <div class="col-md-4">
          <img src="assets/cars.jpg" alt="">
      </div>
</div>

<div class="row">
      <div class="col-md-4">
          <img src="assets/walle.jpg" alt="">
      </div>
      <div class="col-md-4">
          <img src="assets/nemo.jpg" alt="">
      </div>
      <div class="col-md-4">
          <img src="assets/toy.jpg" alt="">
      </div>
</div>




















<!-- <h2> Sorry this site is permannently closed </h2>

<% if @current_user.present? %>
<p> you are login as <%= User.find(session[:user_id]).email %></p>
<p> you are login as <%= @current_user.email %></p>
<% end   %> -->
